[package]
name = "mm0-rs"
version = "0.1.0"
authors = ["Mario Carneiro <di.gama@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
debug = true

[dependencies]
either = "1.6.0"
owning_ref = "0.4.1"
bitflags = "1.2.1"
byteorder = "1.3.4"
lazy_static = "1.4.0"
itertools = "0.9.0"
backtrace = "0.3.50"
pathdiff = "0.2.0"
num = "0.3.0"
log = "0.4.11"
typed-arena = "2.0.1"
pretty = "0.10.0"
simplelog = "0.8.0"
clap = "2.33.3"
crossbeam = "0.7.3"
futures = { version = "0.3.5", features = ["thread-pool"] }
serde = "1.0.115"
serde_json = "1.0.57"
serde_repr = "0.1.6"
lsp-types = "0.80.0"
lsp-server = "0.3.4"
annotate-snippets = { version = "0.9.0", features = ["color"] }
libc = "0.2.76"
deepsize_derive = { path = "components/deepsize_derive" }
shoebill = "0.1.*"
debug_derive = { path = "components/debug_derive" }

[target.'cfg(target_os = "linux")'.dependencies]
procinfo = "0.4.2"