[package]
name = "mm0-rs"
version = "0.1.0"
authors = ["Mario Carneiro <di.gama@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[profile.release]
debug = true

[dependencies]
either = "1.5.3"
owning_ref = "0.4.0"
bitflags = "1.2.1"
byteorder = "1.3.2"
lazy_static = "1.4.0"
itertools = "0.8.2"
backtrace = "0.3.40"
pathdiff = "0.1.0"
num = "0.3.0"
log = "0.4.8"
typed-arena = "2.0.1"
pretty = "0.10.0"
simplelog = "0.7.4"
clap = "2.33.1"
crossbeam = "0.7.3"
futures = { version = "0.3.1", features = ["thread-pool"] }
serde = "1.0.103"
serde_json = "1.0.42"
serde_repr = "0.1.5"
lsp-types = "0.61.0"
lsp-server = "0.3.0"
annotate-snippets = { version = "0.8.0", features = ["color"] }
libc = "0.2.76"
procinfo = "0.4.2"
deepsize_derive = { path = "components/deepsize_derive" }